git
cellpose==3.1.1.3
napari[all]==0.6.6
napari-animation
napari-assistant
napari-clusters-plotter
napari-feature-classifier
napari-features
napari-plot-profile
napari-pyclesperanto-assistant
napari-script-editor
napari-simpleitk-image-processing
napari-skimage-regionprops
siphash24
pyclesperanto_prototype
pyopencl
typing_extensions
napari-trackastra
napari-accelerated-pixel-and-object-classification
git+https://github.com/DBI-INFRA/apoc/
git+https://github.com/jeskowagner/cellpose-napari.git@feature/2d-plus-time
