cellpose==3.1.1.2
napari[all]==0.5.6
napari-animation==0.0.8
napari-accelerated-pixel-and-object-classification==0.14.1
napari-assistant==0.4.11
napari-clusters-plotter
napari-feature-classifier==0.2.1
napari-features==0.1.4
napari-plot-profile==0.2.2
napari-pyclesperanto-assistant==0.25.0
napari-script-editor==0.2.10
napari-simpleitk-image-processing==0.4.9
napari-skimage-regionprops==0.10.1
siphash24==1.7
pyclesperanto_prototype==0.24.5
pyopencl==2024.3
typing_extensions==4.12.2
